helloworldexample/src/main/mule/helloworldexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="95bfd172-e3b1-4dd2-8345-ce608b568e43" basePath="/test">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldexampleFlow" doc:id="6ab0c5b6-108b-4b9c-ab3e-b86856a15e42" >
		<http:listener doc:name="Listener" doc:id="1a931439-dd21-4bd7-b70f-032db25759e2" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="#[attributes.queryParams.Id]" doc:name="Set Payload" doc:id="07843d58-0164-4f5a-8042-215b721dd40f" />
		<logger level="INFO" doc:name="Response-Logger" doc:id="594198b9-8f02-4061-a9e8-e71a8a984b46" message="#[payload]"/>
	</flow>
</mule>
